{% extends "layout.html" %}

{% block body %}

    <img src="../static/jpegs/topBanner.jpg" alt="">
    <p></p>

    <div id="selectTab">
        <p id="modelSelectionPanel">Model Selection Panel</p>
        <table>
            <tr>
                <td>
                    <select id="selectSTL">
                        <option value="0">--Please choose a STL
                                          model--
                        </option>
                    </select>
                </td>
                <td>
                    <button type="button"
                            id="refreshDoc">Refresh F360 Document
                    </button>
                </td>
                <td>
                    <button type="button"
                            id="togglePlot">Toggle Plot
                    </button>
                </td>
                <td>
                    <button type="button"
                            id="refreshPlot">Refresh Plot
                    </button>
                </td>
                <td>
                    <button type="button"
                            id="toggleDataStream">Toggle Data Stream
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lcncStatus"></span>
                </td>
                <td>
                    <span id="f360DocOpen"></span>
                </td>
                <td></td>
                <td></td>
                <td>
                    <span id="toggleDataStateDisplay"></span>
                </td>
            </tr>
        </table>
    </div>

    <p></p>

    <div id="renderOutput"></div>


    <br>
        <div id='parent_div'>
            <div id="panelName"></div>
            <div id="controlPanel"></div>
            <div id="flaskServerResponsePanelName"></div>
            <div id="flaskServerResponse"></div>
        </div>




{% endblock %}

{% block js %}
    <script src="../static/js/dist/bundle.js"
            type="text/javascript"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/css/style.css">
{% endblock %}