<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropDown Test</title>
</head>
<body>
    <div id="selectTab">
        <select name="" id="selectSTL">
            <option value="0">--Please choose a STL model--</option>
        </select>
    </div>
    <p></p>
    <div id="renderOutput">
    </div>
    <br>
    <div id="controlPanel">
        <!--<form action="/action_page.php" method="post" id="controlPanelForm">-->
        <!--</form>-->
    </div>
    <div id="flaskServerResponse"></div>
    <script src="../public/js/dropDownOut.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</body>
</html>


